@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&family=Josefin+Sans:wght@500;600&family=Roboto+Condensed&family=Ubuntu:wght@400;500&display=swap");

.header {
  padding: 20px;
  background-color: #6f48c9;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
}
.mainSection {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
}
